body
{
    background-color: #b6bacc;
}

.the-active-li
{
    font-weight: bold;
    background-color: #5980b2;
}

.topnav-right 
{
  float: right;
  font-size: 20px;
}

.very-top-menu
{
    background-color: #5980b2;
}

.left-half
{
    float: left;
    font-weight: bold;
    font-family: cursive;
    color: black;
    flex-grow: 10; /* not working */
    height: 100%;
}

.left-half li
{
    flex-grow: 10;
    height: 100%;
}

.right-half li
{
    flex-grow: 10; /* not working */
    height: 100%;
}

.right-half
{
    float: right;
    font-size: 20px;
    flex-grow: 10; /* not working */
    height: 100%; /* not working */
}

.co-name
{
    transform: scale(200%);
    margin-left: 100px;
    color: black;
}

.upper-link
{
    color: white;
}

.main-paragraph
{
    font-size: 20px;
    float: left;
    width: 50%;
}

.header-image-div
{
    position: relative;
    text-align: center;
    font-size: 45px;
    margin-top: -25px;
    width: 100%;
    height: 100%;
}

.centered
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    font-family: Garamond, serif;
    color: black;
}

.second-from-top
{
    height: 80px;
    background-color: purple; /* temp debug */
    display: flex;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    /* margin-top: -21px; */
}

.second-from-top-inside
{
    /* background-color: azure; temp debug -- same height as parent */
    height: 100%;
}

.centered-testimonial
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    font-family: Garamond, serif;
    color: white;
}

.very-top-bar
{
    background-color: #5980b2;
    color: white;
    padding: 40px 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: -1;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top */
    /* border: 2px solid purple; */
}

.company-name
{
    transform: scale(1.5);
}

.nav-menu
{
    padding-top: 15px;
    padding-left: 250px;
}

.nav-menu li
{
    display: inline;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 29px;
    padding-bottom: 30px;
    font-size: 18px;
}

.nav-menu a
{
    color: black;
}

.service-icons
{
    
}

.active-menu-item
{
    background-color: #98b3cf;
    font-weight: bold;
}

#logo-image
{
    height: 150px;
    width: auto;
    margin-right: 1rem;
    transform: none;
}

#testimonial-image-box
{
    color: white;
    float: left;
    width: 50%;
    position: relative;
    text-align: center;
    font-size: 20px;
}

#testimonial-image
{
    max-width: 85%;
    max-height: 85%;
    margin-left: 2%;
    margin-bottom: 2%;
}

#front-page-encloser
{
    text-align: center;
}

#header-image
{
    max-width: 100%;
    height: auto;
    width: auto\9;
}

#learn-more-container
{
    background-color: #aab7be;
    width: 100%;
    margin-top: 450px;
    position: absolute;
}

#learn-more-about-our-services
{
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
}

#logo-image
{
    transform: scale(0.5);
}
