body
{
    background-color: #b6bacc;
}

.main-paragraph
{
    font-size: 18px;
}

.header-image
{
    position: relative;
    text-align: center;
    font-size: 65px;
}

.centered
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Garamond, serif;
    color: black;
}

.very-top-bar
{
    background-color: #5980b2;
    color: white;
    padding: 40px 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top */
}
